<!DOCTYPE html>
<html lang="en">
<head>
    <!--Main character set-->
    <meta charset="utf-8">
    <!--Makes the website more accesible for Mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Obtains title of page and then adds website name at the end-->
    <title>@ViewData["Title"] - Los_Pollos_Hermanos_Web_App</title>
    <!--Favicon-->
    <link rel="icon" type="image/png" href="/img/LPH logo small.webp">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Los_Pollos_Hermanos_Web_App.styles.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
    <img src="~/img/LPH%20logo.jpg" alt="los pollos hermanos logo" width="100%" height="100%">
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/img/LPH%20logo%20small.webp" alt="Logo" style="width:40px;" class="rounded-pill"></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-pills" role="tab">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Foods/index">Foods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Menuinformation/index">Menuinformation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Menuitems/index">Menuitems</a>
                        </li>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Los Pollos Hemanos</h3>
        </div>
        <div class="footer-content">
            <p>© 2022, Los Pollos Hermanos all rights reserved</p>
            <a href="http://validator.w3.org/check?uri=https://2111421.win.studentwebserver.co.uk/CO5227" target="_blank">Validate HTML</a>
            <a href="https://jigsaw.w3.org/css-validator/validator?uri=https://2111421.win.studentwebserver.co.uk/CO5227" target="_blank">Validate CSS</a>
            <a asp-page="/Index">Home</a>
            <a asp-page="/Contact">Contact</a>
            <a asp-page="/About">About</a>
            <a asp-page="/Menu">Menu</a>
            <a asp-page="/Privacy">Privacy</a>
            <a asp-page="/Register">Register</a>        
        </div>
    </footer>
</body>
</html>

@if (IsSectionDefined("scripts"))
{
    RenderSection("scripts");
}