/*Css for html font size*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Css for page position*/
html {
  position: relative;
  min-height: 100%;
}

/*Css for main body of code*/
body {
    margin-bottom: 60px;
    background-color: #fccc00;
    font: 1em arial;
    padding-bottom: 200px;
}

/*header 1*/
h1 {
    font: 1em arial;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px;
}

/*Text CSS*/
p {
    font: 1em arial;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px;
}

/*background image css*/

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url('../img/lph logo.jpg');
    min-height: 75%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/*Css for First name and last name text boxes*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/*Css for email text box in contact form*/
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    input[type=submit]:hover {
        background-color: #45a049;
    }

body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/*Css for contact form button*/
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/*Css for when the user hovers over the contact button*/
form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/*Css for index images*/
#cover {
    width: 1300px;
    height: 800px;
    margin: 0 auto;
}

/*Css for index images layout*/
#cover > img {
    float: left;
    border: 2px solid black;
    width: 45%;
    margin: 1.66%;
}

#map {
    width: 100%;
    height: 700px;
}

/*css for page footer*/
footer {
    font: 1em arial;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}