html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fccc00;
    font: 1em arial;
}

/*header 1*/
h1 {
    color: red;
    font: 1em arial;
    font-weight: bold;
    text-align: center;
}

/*Text CSS*/
p {
    font: 1em arial;
    font-size: 20px;
    text-align:center;
}

/*background image css*/

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url('../img/lph logo.jpg');
    min-height: 75%;
}

/*Navigation bar*/
nav {
    background-color: darkblue;
    font: 1em arial;

    height: 4em;
    line-height: 3em;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

footer {
    font: 1em arial;
    font-size: 20px;
    text-align: center;
}

/*Red bar at the top and bottom of the page*/
html:after, html:before {
    content: "";
    display: block;
    background-color: #1f2935;
    background-image: linear-gradient(45deg,#941c21 25%,transparent 0,transparent 75%,#941c21 0,#941c21),linear-gradient(-45deg,#941c21 25%,transparent 0,transparent 75%,#941c21 0,#941c21);
    background-size: 32px 32px;
    background-size: 2rem 2rem;
    background-position: 100%;
    height: 60px;
    height: 2rem;
}



