/* Set default font size for the document */
html {
    font-size: 14px;
}

/* Increase font size on medium sized screens and up */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Set page height to 100% */
html {
    position: relative;
    min-height: 100%;
}

/* Main body styles */
body {
    margin-bottom: 60px;
    background-color: #fccc00;
    font: 1em Arial;
    padding-bottom: 200px;
}

/* Header 1 styles */
h1 {
    font: 1em Arial;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px;
}

/* Paragraph styles */
p {
    font: 1em Arial;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px;
}

/* Background image styles */
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url('../img/lph logo.jpg');
    min-height: 75%;
}

/* Flexbox styles for columns */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sit next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
}

/* Make two columns on smaller screens */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Make columns stack on top of each other on even smaller screens */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Styles for text inputs, selects, and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Styles for email inputs */
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Styles for submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* Change button background color on hover */
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Set default font family for the document */
body {
    font-family: Arial;
}

/* Set box-sizing property for all elements */
* {
    box-sizing: border-box;
}

/* Styles for text input on example form */
form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/*Css for contact form button*/
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/*Css for when the user hovers over the contact button*/
form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/*Css for index images*/
#cover {
    width: 1300px;
    height: 800px;
    margin: 0 auto;
}

/*Css for index images layout*/
#cover > img {
    float: left;
    border: 2px solid black;
    width: 45%;
    margin: 1.66%;
}

#map {
    width: 100%;
    height: 700px;
}

/*css for page footer*/
footer {
    font: 1em arial;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}