@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="text-center">
    <h1 class="display-4">About Los Pollos Hermanos</h1>
    <p>here is a little information about our business practices as well as infromation about who we are</a>.</p>
    <p>Los Pollos Hermanos is a fast-food restaurant chain that specializes in fried chicken and mexican cuisine, operating across the southwestern United States. The name, pronounced [los ˈpo.ʝos eɾˈma.nos], is ungrammatical Spanish for "The Chicken Brothers." Founded by Gustavo Fring and Max Arciniega, the restaurant chain has fourteen locations throughout the southwest and it brings us so much joy to see you ll enjoying the food here at Los Pollos Hermanos.</a>.</p>
        <img src="~/img/LPH banner image.jpg" alt="LPH Stock image" width="100%" height="100%">
</div>
</body>
</html>
