@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<html>
<div class="text-center">
    <h1 class="display-4">About Los Pollos Hermanos</h1>
    <p>here is a little information about our business practices as well as infromation about who we are</a>.</p>
</div>
</html>
