@page
@model IndexModel
@{
    ViewData["Title"] = "Contact";
}

<html>

    <div class="text-center">
        <h1 class="display-4">Contact Los Pollos Hermanos</h1>
        <p>Contact us here</a>.</p>
    </div>

</html>