@page
@model IndexModel
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Contact Los Pollos Hermanos</h1>
        <p>Contact us here</a>.</p>
    </div>
</body>
</html>