@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
    <h1 class="display-4">Welcome to the Los Pollos Hermanos Website</h1>
    <p>Los Pollos Hermanos, where something delicious is always cooking</a>.</p>
    </div>

    <div id="cover">
        <img src="~/img/cover 1.png">
        <img src="~/img/cover 2.png">
        <img src="~/img/cover 3.png">
        <img src="~/img/cover 4.png">
    </div>
</body>
</html>

