@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>

<div class="text-center">
    <h1 class="display-4">Welcome to the Los Pollos Hermanos Website</h1>
    <p>Los Pollos Hermanos, where something delicious is always cooking</a>.</p>
</div>

</html>

