@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div>
        <h1 class="display-4">Welcome to the Los Pollos Hermanos Website</h1>
        <p>Los Pollos Hermanos, where something delicious is always cooking.</p>
    </div>
    <!--Adds 4 images onto the index page in a 2x2 grid-->
    <div id="cover">
        <img src="~/img/Tacos_Rancheros.png" alt="Tacos Rancheros">
        <img src="~/img/Tacos.png" alt="Tacos">
        <img src="~/img/Burritos.png" alt="Burritos">
        <img src="~/img/Nachos.png" alt="=Nachos">
    </div>
</body>
