@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        <h1 class="display-4">Welcome to the Los Pollos Hermanos Website</h1>
        <p>Los Pollos Hermanos, where something delicious is always cooking.</p>
    </div>
    <!--Adds 4 images onto the index page in a 2x2 grid-->
    <div id="cover">
        <img src="/img/Food3.jpg" alt="los pollos hermanos image 1"> 
        <img src="/img/Food15.jpg" alt="los pollos hermanos image 2">
        <img src="/img/Food8.jpg" alt="los pollos hermanos image 3">
        <img src="/img/Food13.jpg" alt="los pollos hermanos image 4">
    </div>
</body>
</html>