@page
@model IndexModel
@{
    ViewData["Title"] = "Join the_familyy";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Come Join the family</h1>
    <p>Create an account and sign up on our webpage for exclusive discounts and news letters</a>.</p>
</div>
</body>
</html>