@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}

<html>

<div class="text-center">
    <h1 class="display-4">Here is our menu</h1>
    <p>Take a look at what we have to offer here at los pollos hermanos</a>.</p>
</div>
