@page
@model IndexModel
@{
    ViewData["Title"] = "Order_now";
}

<html>

<div class="text-center">
    <h1 class="display-4">Order now</h1>
    <p>What would you like to order today?</a>.</p>
</div>

</html>