@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Our Privacy Policy</h1>
    <p>Here is a detailed summary of our privacy policey</a>.</p>
    <p>Our contact details</p>
    <p>Name:Los Pollos Hermanos</p>
    <p>Address:25 Whalley Rd, Accrington BB5 1AS</p>
    <p>Phone Number: (505) 146-0195</p>
    <p>E-mail: customerservices@LosPollosHermanos.co.uk.</p>
    <p> </p>
</div>
</body>
</html>