@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
<div class="text-center">
    <h1 class="display-4">Our Privacy Policy</h1>
    <p>Here is a detailed summary of our privacy policy</a>.</p>
</div>
</html>